body {
    padding-top: 0px;
    padding-bottom: 5px;
}


#blackDiv {
    position: absolute;
    width: 100%;
    height: 50px;
    background: #000000;
}

#logoDiv {
    z-index: 1000;
    margin-left: 300px;
    position: relative;
}


.why {
    padding-top: 10px;
}