body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar .navbar-brand {
  height: 50px;
  padding-top: 6px;
}

.navbar .nav >li >a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar .navbar-toggle {
  padding: 4px;
  margin: 16px 10px 18px 0;
}

.navbar .navbar-collapse {
  text-align: center;
  z-index: 1000;
}

.panel-default> .panel-footer {
    background-color: #282827;
    border: #282827;
}

.navbar-static-bottom {
    color: #CCD1D1;
    text-align: center;
    padding-top: 10px
}

#custom-search-input {
    z-index: 1;
}

.nav a {
  font-weight: 700 !important;
}