.hidden {
    display: none;
}

#comment {
    width: 332px;
}

#favoritesDiv {
    position: relative;
    display: none;
    opacity: 0.92;
}

#fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
    border: 1px solid #ccc;
}

#close {
    float: right;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #4d4d4d;
    padding: 2px 8px 2px 8px;
    border: 1px solid #262626
}

#close:hover {
    cursor: hand;
    cursor: pointer;
    background-color: #0d0d0d;
}

input[type=checkbox].hidden {
    display:none;
}

#title {
    text-align: center;
    padding: 10px 0 20px 0;
}

.materials {
    font-size: 16px;
}